<!DOCTYPE html>
<html>
    <head>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/addons/p5.sound.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" />
        <link rel ="stylesheet" href="static/css/style.css" />
    </head>
    <body>
        <!-- <script src="../static/js/rhytvisuals.js"></script> -->
        <div class="center-screen">
            <div class="card">
              <div class="container">
                <h4><b>Block Complete</b></h4> 
                <p>You can take a break before the next set of stimuli, thank you!</p> 
                
        <form method="post">
            <br>
            <input type="submit" value="Continue" >
         </form>
    </body>
</html>