<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" />
        <link rel ="stylesheet" href="static/css/style.css" />
    </head>
        <body>
            <div class="jumbotron text-center">
                <h1>Concent Form</h1>
                <p>Thank you for your interest in our research study. Your participation will help us design better automatic rhythm training systems. 
                    Your participation is extremely valuable to us and we thank you for helping out!</p>
                <p>The study should take approximately 20–30 minutes to complete. 
                    During the study, we will need to record audio (sound) from your computer microphone, which will require that you grant recording access to your web browser. 
                    Your participation in this study is always voluntary and you may discontinue your participation at any time.</p>
                <p><b>Ethics:</b> This study has been reviewed by the Georgia Tech Institutional Review Board, 
                    and has been identified as “Minimal risk research” (IRB Number H22373). 
                    The risks of participating in this study are no greater than any casual music listening or other other normal daily activities.
                <p> <b>Confidentiality:</b> We will comply with any applicable laws and regulations regarding confidentiality. 
                    Your responses to the study questions will be entirely anonymous and confidential. No personal data will be gathered from you, and your identity will never be associated with your data, published, or disclosed in any way. All recorded sound that is not relevant to the study will be deleted; 
                    However, to assure your confidentiality, make sure not to divulge any personal information during audio recording.</p>
                <p>To make sure that this research is being carried out in the proper way, 
                    the Georgia Institute of Technology IRB may review study records. 
                    The Office of Human Research Protections may also look at study records. 
                    Your anonymous responses may also be shared with other scientists for use in other research.
                <p> <b>Compensation & Rights:</b> You will not benefit of be compensated for participating in this study.
                    Contacts and Questions: For questions, concerns, or complaints about the study, 
                    you may contact the Principal Investigator, 
                    Dr. Nathaniel Condit-Schultz at: natcs[at]gatech.edu or 
                    by telephone (404)-904-1112. 
                    If you have any questions about your rights as a research subject, 
                    you may contact Georgia Institute of Technology Office of Research Integrity Assurance at IRB@gatech.edu.</p>

                <em>Only adults (18 years or older) are eligible to participate in this study. 
                    By clicking below and completing the study you are agreeing to participate. 
                    You do not waive any of your legal rights by agreeing to participate.</em>

              </div>
              <form method="post">
                <input type="submit" value="I Consent" >
             </form>          
        </body>