<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" />
        <link rel ="stylesheet" href="static/css/style.css" />
    </head>
        <body>
            <div class="jumbotron text-center">
                <h1>Welcome To The Study</h1>
                <p class="lead">This is a rhythm recreation study and performance assessment tool developed by Noel Alben to
                  aid in his research.
                  We are looking for volunteers to participate in an online experiment we are conducting concerning rhythm pedagogy. The study is conducted online and consists 
                  of only one half-hour session using this website. You will interact with this app, which teaches you how to clap common rhythmic patterns. We’d love it if you would be willing to help us out! 
                  Unfortunately, there would be no compensation to you, other than the good feeling of helping science!

                  Only adults (18 years or older) may participate. If you are interested in partici- pating, please contact Noel Alben at noelalben@gatech.edu.

                  To continue with your participation in this study please click the continue button.
                  
                </p>
                <h3>Before you start please read through these instructions:</h3>
                <div align ="left">
                  <ul>
                  <li>The Preferred device to access this application is a desktop/laptop for ideal results</li>
                  <li>You must register through the registration portal of the application and please do ensure that you fill all the fields, 
                    if a particular field does not apply to you kindly fill it as 'NA'
                  </li>
                  <li>Being a musician does not only pertain to playing an instrument, a singer can 
                    fill the field of Instruments Played as ‘Vocals’.</li>
                    <li> Once you log in to the application kindly read all the instructions on the webpage.</li>
                    <li>Please use percussion instruments only apart from clapping, snapping fingers or tapping</li>
                    <li>Kindly use the same instrument/rhythm interface and experimental setup for consistent results. For example, if you are clapping (or playing any percussion instrument), 
                      please continue to clap (or use the same percussion instrument) throughout the course of all assessments. </li>
                </ul>
              </div>
              <form method="post">
                <input type="submit" value="Continue" >
             </form>        
        </body>